.header{
	height: 380px;
	overflow: hidden;
	background: url(../images/pattern.png) no-repeat center;
	position: relative;
}
.nav{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top:50%;
    margin-top:-30px;
	font-size:0;}
.nav ul li{
	display: inline-block;
	width:150px;
	margin-left: 5px;
	line-height: 60px;
	color:#fff;
	background: rgba(0,0,0,.2);
	-webkit-transition: background .5s;
	transition:background .5s;
}
.nav ul li a{
	display: block;
}

.nav ul li:hover{
	background: rgba(0,0,0,.3);
}
/*header end*/

.main{
	width:1200px;
	padding-top:30px;
	margin:0 auto;
}
.article-list{
	margin:0 0 10px;
	border:none;
	border-top:1px solid #cfcfd2;
	border-bottom:1px solid #cfcfd2;
}
.article-list a{
	display:block;
	padding:18px 10px;}
.article-list .al-left{display: inline-block;}

.about{position: relative;}
.people{position: absolute;width:80px;height:80px;border:1px solid #ccc; border-radius: 50%;left:300px;}
.people .hand1, .hand2{position: absolute;width:1px;background: #ccc;}
.hand1{height: 77px;top: 43px;left: 75px;-webkit-transform: rotate(44deg);transform: rotate(64deg);}
.hand2{height: 46px;top: 24px;right: -15px;-webkit-transform: rotate(-41deg);transform: rotate(-41deg);}
.foot1{height:60px;top: 101px;left: 19px;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.foot2{height:60px;top: 101px;left: 62px;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.people:after, .people:before{content:""; position: absolute;}
.people:after{width:1px;height:48px;top: 80px;left: 40px;background: #ccc;}
.people:before{width: 18px;height: 10px;top: 20px;right: -7px;background: #afa1a1;}
.f1-top, .f2-top{position: absolute;width:1px;height:50px;background: #ccc;}
.f1-bottom, .f2-bottom{position: absolute;width:1px;height:72px;background: #ccc;}
.f1-top{
	top: 127px;
    left: 35px;
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
}
.f1-bottom{
	top: 170px;
    left: 11px;
    -webkit-transform: rotate(32deg);
            transform: rotate(32deg);
}

.f2-top{
	top: 127px;
    left: 51px;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
}

.f2-bottom{
	top: 174px;
    left: 61px;
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
    height: 60px;
}

@-webkit-keyframes walk{
	0%{
		-webkit-transform: rotate();
		        transform: rotate();
	}
}

@keyframes walk{
	0%{
		-webkit-transform: rotate();
		        transform: rotate();
	}
}