<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../res/styles/reset.css">
	<link rel="stylesheet" href="../res/styles/module.css">
</head>
<body>
	<div class="about">
		<div class="people">
			<span class="hand1"></span>
			<span class="hand2"></span>
			<span class="foot1">
				<i class="f1-top"></i>
				<i class="f1-bottom"></i>
			</span>
			<span class="foot2">
				<i class="f2-top"></i>
				<i class="f2-bottom"></i>
			</span>
		</div>
	</div>
</body>
</html>