<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../res/styles/reset.css">
	<link rel="stylesheet" href="../res/styles/module.css">
</head>
<body>
	<v-header></v-header>
	<div class="main">
		<h4 class="title fs28 c6 tc mt20">其实我是标题</h4>
		<div class="article-main fs16 c6f mt40">
			<p class="mb15">
				所有活着的人类，都是海里一条巨大的鱼；出生的时候他们从海的此岸出发。他们的生命就像横越大海，有时相遇，有时分开……死的时候，他们便到了岸，各去各的世界。
			</p>
			<p class="mb15">
				四十五亿年前，这个星球上，只有一片汪洋大海，和一群古老的大鱼。在与人类世界平行的空间里，生活着一个规规矩矩、遵守秩序的族群，他们为神工作，掌管世界万物运行规律，也掌管人类的灵魂。他们的天空与人类世界的大海相连。他们既不是神，也不是人，他们是“其他人”。 
			</p>
			<p class="mb15">
				十六岁生日那天，居住在“神之围楼”里的一个名叫椿（季冠霖 配音）的女孩变作一条海豚到人间巡礼，被大海中的一张网困住，一个人类男孩因为救她而落入深海死去。为了报恩，为了让人类男孩复活，她需要在自己的世界里，历经种种困难与阻碍，帮助死后男孩的灵魂——一条拇指那么大的小鱼，成长为一条比鲸更巨大的鱼并回归大海。
			</p>
		</div>
		<p class="article-date fs12 cc tr mt15">date:2016-07-15</p>
	</div>
	<script src="../res/js/vue.js"></script>
	<script src="../res/components/header.js"></script>
	<script>
		new Vue({
		  el: 'body'
		});
	</script>
</body>
</html>