<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../res/styles/reset.css">
	<link rel="stylesheet" href="../res/styles/module.css">
</head>
<body>
	<v-header></v-header>
	<div class="main">
		<div class="article-list clear">
			<a href="#">
				<h6 class="al-left fs16 c6">其实我是标题</h6>
				<span class="al-date fs12 fr cc">date:2016-07-15</span>
			</a>
		</div>
		<div class="article-list clear">
			<a href="#">
				<h6 class="al-left fs16 c6">其实我是标题</h6>
				<span class="al-date fs12 fr cc">date:2016-07-15</span>
			</a>
		</div>
		<div class="article-list clear">
			<a href="#">
				<h6 class="al-left fs16 c6">其实我是标题</h6>
				<span class="al-date fs12 fr cc">date:2016-07-15</span>
			</a>
		</div>
		<div class="article-list clear c6">
			<a href="#">
				<h6 class="al-left fs16 c6">其实我是标题</h6>
				<span class="al-date fs12 fr cc">date:2016-07-15</span>
			</a>
		</div>
		<div class="article-list clear">
			<a href="#">
				<h6 class="al-left fs16 c6">其实我是标题</h6>
				<span class="al-date fs12 fr cc">date:2016-07-15</span>
			</a>
		</div>
	</div>
	<script src="../res/js/vue.js"></script>
	<script src="../res/components/header.js"></script>
	<script>
		new Vue({
		  el: 'body'
		});
	</script>
</body>
</html>